[submodule "hll"]
	path = hll
	url = https://github.com/dnbaker/hll
[submodule "frp"]
	path = frp
	url = https://github.com/dnbaker/frp
[submodule "valptr"]
	path = valptr
	url = https://github.com/dnbaker/valptr
[submodule "SSO-23"]
	path = SSO-23
	url = https://github.com/elliotgoodrich/SSO-23
[submodule "circularqueue"]
	path = circularqueue
	url = https://github.com/dnbaker/circularqueue
[submodule "kspp"]
	path = kspp
	url = https://github.com/dnbaker/kspp
[submodule "branchless-utf8"]
	path = branchless-utf8
	url = https://github.com/skeeto/branchless-utf8
[submodule "clhash"]
	path = clhash
	url = https://github.com/lemire/clhash
